<div class="border-bottom">
  <div class="container py-4">
    <h2>Projects</h2>
    <p>I got my first job as a web designer in 2005. Since then I've been a web developer, a frontend devloper, a senior developer, a tech lead, a dev manager, and these days, a practice lead. I've been fortunate to have worked on some really great brands with some really fantastic people over the course of my career. Here's a few of my favorite projects.</p>
    <ul class="posts">
      <li>2019 - 2020: Milwaukee Tool - MX Fuel Launch</li>
      <li>2018 - 2019: Sourcewell</li>
      <li>2014 - 2017: Belize Tourism Board</li>
      <li>2014 - 2016: Pureleaf Tea</li>
      <li>2010 - 2015: Target Design Partnerships</li>
      <li>2014 - 2015: Lilly Pulitzer for Target</li>
      <li>2014 - 2015: Pohlad Companies</li>
      <li>2011 - 2014: Target Healthcare</li>
      <li>2014: wet n wild - Steal the Look</li>
      <li>2011 - 2013: Target Holiday</li>
      <li>2011 - 2012: Kidrobot</li>
      <li>2009 - 2010: Chamilia</li>
      <li>2009: Target Style Boutique</li>
      <li>2008: Lee Jeans</li>
      <li>2007 - 2008: Nike Bauer</li>
      <li>2007 - 2008: Con Agra</li>
    </ul>
  </div>
</div>
