<div class="border-bottom">
  <div class="container py-4">
    <ul class="posts">
      <li>2019 - 2020: Milwaukee Tool - MX Fuel Launch</li>
      <li>2018 - 2019: Sourcewell</li>
      <li>2014 - 2017: Belize Tourism Board</li>
      <li>2014 - 2016: Pureleaf Tea</li>
      <li>2010 - 2015: Target Design Partnerships</li>
      <li>2014 - 2015: Lilly Pulitzer for Target</li>
      <li>2014 - 2015: Pohlad Companies</li>
      <li>2011 - 2014: Target Healthcare</li>
      <li>2014: wet n wild - Steal the Look</li>
      <li>2011 - 2013: Target Holiday</li>
      <li>2011 - 2012: Kidrobot</li>
      <li>2009 - 2010: Chamilia</li>
      <li>2009: Target Style Boutique</li>
      <li>2008: Lee Jeans</li>
      <li>2007 - 2008: Nike Bauer</li>
      <li>2007 - 2008: Con Agra</li>
    </ul>
  </div>
</div>
