<!doctype html>
<html lang="en">
  
  <head>
    {% include styles.html %}
    <title>{{ page.meta.title }}</title>
  </head>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3Z2M9RCPTQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-3Z2M9RCPTQ');
  </script>
  
  <body>
    
    {% include site-header.html %}
    
    <div class="page">
      
      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              {{ content }}
            </div>
          </div>
        </div>
      </section>
    
    </div>
    
    {% include site-footer.html %}
    
  </body>
</html>
