<!doctype html>
<html lang="en">
  
  <head>
    {% include styles.html %}
    <title>{{ page.meta.title }}</title>
  </head>
  
  <body>
    
    {% include site-header.html %}
    
    <div class="page">
      
      <section class="border-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              {{ content }}
            </div>
          </div>
        </div>
      </section>
    
    </div>
    
    {% include site-footer.html %}
    
  </body>
</html>
